<div class="row max-width">
  <div class="col-12 center">
    <h3>Create a new itinerary</h3>
  </div>
</div>

<div class="row max-width mt-3">
  <div class="col-6 auto-margin">
    <%= render "form" %>
    <br>
    <div  class="links">
        <%= link_to 'Cancel', itineraries_path, 'class': 'btn btn-outline-danger btn-sm btn-block' %>
    </div>
  </div>

</div>