<div class="row max-width">
  
  <div class="col-6 dash-col dash-split">
    
    <div class="row">
      <div class="col-12">
        <h3 class="center">Travel Groups</h3>
      </div>
    </div>

    <div class="row mt-3 mb-3">
      <div class="col-12">
        <%= link_to "Create New Travel Group", new_group_path, class: "btn btn-outline-info btn-block" %>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <ul>
          <% if @myGroups.nil? %>
            <h4>You have no groups yet - create a group or ask a friend for an invite!</h4>
          <% else %>
            <% @myGroups.each do |group| %>
            <li class="link"><%= link_to group.group.nickname, group.group %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
  
  <div class="col-6 dash-col">
    
    <div class="row">
      <div class="col-12">
        <h3 class="center">Trips</h3>
      </div>
    </div>

    <div class="row mt-3 mb-3">
      <div class="col-12">
        <%= link_to "Create New Trip", new_trip_path, class: "btn btn-outline-info btn-block" %>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <ul>
          <% if @myTrips.nil? %>
            <h4>You have no trips yet - create a trip or ask a friend for an invite!</h4>
          <% else %>
            <% @myTrips.each do |trip| %>
            <li class="link"><%= link_to trip.nickname, trip %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

  </div>

</div>