<div class="row">
  <div class="col-12">
    <h2 class="center"><% if current_user %>Welcome back <%= current_user.first_name %>!<% else %>Welcome to the Travel Pals app!<% end %></h2>
  </div>
</div>

<div class="row center">
  <div class="col-12">
    <%= image_tag image_path("friends-cheer.jpg"), alt: "friends image", class: "hero-img opacity-primary" %>
  </div>
</div>

<div class="row mt-2">
  <div class="col-12">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat porro, ipsum inventore neque tempore voluptatem architecto, delectus, consequatur iure molestiae impedit. Quibusdam necessitatibus, non quidem vel officiis architecto at natus debitis accusamus. Quibusdam maxime explicabo asperiores recusandae laboriosam quam laborum deserunt cum voluptatum enim at eum quaerat omnis adipisci maiores quo necessitatibus culpa cupiditate, corporis. Quaerat minus voluptatem illum, temporibus nostrum, cupiditate possimus facere optio quisquam necessitatibus dolor commodi, maxime, nihil! Quis voluptatem dolorum praesentium magni dicta ea modi quia, odit placeat suscipit in repellendus fugiat pariatur, excepturi culpa, earum laudantium, accusantium. Quibusdam corporis autem placeat libero obcaecati, dolor tempore at delectus, impedit vero magnam odit, porro ad eos minus labore quaerat. Incidunt architecto repellat vel officiis est laborum optio modi ipsam, tempora perferendis sequi quasi, praesentium atque. Temporibus suscipit nam consectetur autem molestias corrupti inventore quia quaerat modi perferendis nobis beatae eos numquam excepturi nihil nisi sequi debitis, placeat, at provident deleniti quas optio minima dicta. Quae illo, numquam quasi rerum nesciunt voluptate velit aperiam eius. Nihil provident alias optio eveniet autem quam necessitatibus, debitis sed aspernatur similique quia suscipit maiores neque qui officiis id dolore assumenda asperiores. Cum facere, voluptatem quasi. Qui itaque deserunt, soluta excepturi quasi ex.</p>
  </div>
</div>

<div class="row mt-4 mb-4">
  <div class="col-12 center">
    <h4>Look at when our users are travelling!</h4><br />
    <%= line_chart trip_start_charts_path, messages: {empty: "No data"} %>
  </div>
</div>

<div class="row mt-4 mb-4">
  <div class="col-12 center">
    <h4>Look at countries our users are planning to visit!</h4><br />
    <%= pie_chart cities_charts_path, legend: "bottom", messages: {empty: "No data"} %>
  </div>
</div>