$primaryFont: sans-serif;
$primaryColor: #343a40; //dark gray
$secondaryColor: #C0C0C0; // silver
$thirdaryColor: #17a2b8; // teal
$warningColor: #ffc107; // yellow
$dangerColor: #dc3545; // red
$successColor: #28a745; // green