<div class="row max-width">
  <div class="col-12 center">
    <h3>Add a new member goal</h3>
  </div>
</div>

<div class="row max-width mt-3">
  <div class="col-6 auto-margin">
    <%= render "form" %>
    <br>
    <div  class="links">
        <%= link_to "Cancel", @trip, "class": "btn btn-outline-danger btn-sm btn-block mb-3" %>
    </div>
  </div>
</div>