/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require toastr/toastr
 *= require bootstrap/dist/css/bootstrap
 *= require animate
 *= require_self
 */

@import 'partials/variables';
@import 'partials/mixins';

body{
  font-family: $primaryFont;
  color: $primaryColor;
  font-size: 1rem;
}

.welcome-txt {
  font-family: $secondaryFont;
  color: $thirdaryColor;
  font-size: 2rem;
}

.thirdary-color {
  color: $thirdaryColor;
}

.warning {
  color: $warningColor;
  border: 1px dashed $warningColor;
  padding: 5px;
  border-radius: 5px;
}

.content {
  height: 100%;
}

.content-div {
  // background: rgba(255, 255, 255, 1);
}

.row {
  margin: 0;
}

.auto-margin {
  margin: 0 auto;
}

.center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.clear {
  clear: both;
}

.max-width {
  width: 100%;
}

.hero-img {
  max-width: 100%;
  max-height: 700px;
}

.bg-img {
  position: absolute;
}

.opacity-primary {
  opacity: .8;
}

.opacity-secondary {
  opacity: .15;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.bold-3rd {
  @include bold-color($thirdaryColor);
}

.no-padding {
  padding: 0;
}

.red, .orange, .green {
  color: #fff;
}
.red, .orange, .yellow, .green {
  border-radius: 5px;
  padding: 7px;
}
.red {
  background-color: $dangerColor;
}
.orange {
  background-color: #e07b00;
}
.yellow {
  background-color: $warningColor;
}
.green {
  background-color: $successColor;
}
.blink {
  animation: blinker 2s linear infinite;
}

/*
 * nav
 */
.navbar {
  margin-top: 15px 0;
}

.logo {
  max-width: 250px;
}

.navbar li a:hover, a:hover, .dash-link:hover {
  text-decoration: none;
  color: $thirdaryColor;
}

.navbar li , .link {
  list-style-type: none;
  margin: 10px;
}

a {
  color: $thirdaryColor;
}

/*
 * footer
 */
footer {
  position: fixed;
  background-color: #fff;
  width: 100%;
  bottom: 0;
  right: 5%;
}

/*
 * home page
 */
.about-us {
  position: absolute;
  // width: 400px;
  height: 400px;
}

/*
 * dashboard
 */
.dash-col {
  padding: 5%;
 }

.dash-split {
  border-right: solid 1px #c9c9c9
}

.dash-group {
  padding: 3px
}

.dash-group:hover, .dash-group:hover a  {
  // background-color: $secondaryColor;
  background-color: $thirdaryColor;
  border-radius: 5px;
  color: #fff;
}

/*
 * groups
 */
.group-member {
  list-style-type: none;
 }

/*
 * trips
 */
 .trip-itinerary {
  border-top: 1px solid $secondaryColor;
  border-bottom: 1px solid $secondaryColor;
  padding: 10px;
}


 /*
  * animation
  */
@keyframes blinker {
  50% {
    opacity: 0;
  }
}