/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require toastr/toastr
 *= require bootstrap/dist/css/bootstrap
 *= require_self
 */

@import 'partials/variables';
@import 'partials/mixins';

body{
  font-family: $primaryFont;
  color: $primaryColor;
  font-size: 1rem;
}

.auto-margin {
  margin: 0 auto;
}

.center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.clear {
  clear: both;
}

.max-width {
  width: 100%;
}

.hero-img {
  max-width: 100%;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.no-padding {
  padding: 0;
}

/*
 * nav
 */
.nav {
  display: inline-block;
  margin: 15px 0;
}

.logo {
  max-width: 250px;
}

.nav li {
  display: inline-block;
}

.nav li a:hover, .link a:hover {
  text-decoration: none;
}

.nav li , .link {
  list-style-type: none;
  margin: 10px;
}


/*
 * home page
 */
.about-us {
  position: absolute;
  // width: 400px;
  height: 400px;
}

/*
 * dashboard
 */
.dash-col {
  padding: 5%;
 }

.dash-split {
  border-right: solid 1px #c9c9c9
}

/*
 * footer
 */


/*
 * groups
 */
 .group-member {
  list-style-type: none;
 }